set colored-stats
#set completion-display-width 0
set completion-ignore-case on
set completion-query-items 200
#set menu-complete-display-prefix on
#set print-completions-horizontally on
set show-all-if-ambiguous on
TAB: menu-complete
